.git
.env
.env.local
.env.*.local
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/routes-v7.php
bootstrap/cache/config.php
tests
phpunit.xml
.editorconfig
.gitattributes
.gitignore
README.md
